@media screen 
  and (device-width: 360px){
}


links {
    display: block;
    padding: 35px;
}

dl {
    display: block;
}

dl a:active {
    text-decoration: none;
    color: black;
}

dl a:link {
    text-decoration: none;
    color: black;
}

dl a:visited {
    text-decoration: none;
    color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1000;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a: {
    background-color: rgb(255, 184, 62);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(255, 184, 62);
}
 
header, footer {
    padding: 15px;
    color: #D8D8D8;
    background: grey;
    clear: right;
    text-align: center;
    font-family: Verdana;
    margin: auto;
   

}
table {
    border-collapse: collapse;

}
th, td, table {
    border: 1px solid black;
    padding: 15px;
    margin: auto;
    max-width: 155px;
}

article {
    text-align:center;
    margin-left: 10px;
    padding: 5px;
    overflow: hidden;
}